* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    margin: 0;
    font-family: 'Open Sans',
        sans-serif;

}


.column-b {
    background-color: $white;
    border: 1px solid $grey2;
}

.column-l {
    border-right: 1px solid $border;
    margin-right: 5px;
}

.column-r {
    border-left: 1px solid $border;
    padding-top: 5px;
    padding-bottom: 5px;
}

.todo-plugin {
    font-size: 20px;
    font-weight: bold;
}

.span-task {
    margin-left: 15px;
}

input::placeholder {
    font-size: 15px;
    color: $grey;
    font-weight: 400;
}

.input-text {
    width: 80%;
    font-size: 15px;
    color: $grey;
    font-weight: 600;
    border: none;
    margin-left: 15px;
}


.margin-t {
    margin-top: 10px;
    margin-bottom: 10px;
    max-height: 25%;
    overflow: auto;
}